body {
  background-color: rgb(48, 47, 47);
}
.mainDiv {
  font-family: 'Roboto', sans-serif;
  color: rgb(235, 231, 231);
}
h1 {
  color: #20c997;
  letter-spacing: 2;
  font-weight: 700;
  text-align: center;
}
label {
  margin-bottom: 0.5rem;
}
.marginInput {
  margin-bottom: 0.8rem;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.button {
  background-color: #20c997;
  border-radius: 1rem;
  border: none;
  padding: 0.2rem 0.8rem;
}
