doctype html
html(lang="de")
    head
        //- link(rel='stylesheet' href='style.css')
        <link rel="stylesheet" href="../static/css/style.css">
        //- link(rel='stylesheet' href='css/style.css')
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,700&display=swap" rel="stylesheet">
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        title Passwort reset
    body 
        // body
        div.center.mainDiv
            h1 Kochstudio 
            if !confirmStatus  
                form#passwordReset.center
                    h2 Password zurücksetzen 
                    label Neues Passwort
                    input#password.marginInput(type="password", autofocus="true")
                    label Passwort bestätigen
                    input#passwordConfirm.marginInput(type="password")
                    button.button Bestätigen

            if confirmStatus  
                div.center
                    p Das Passwort wurde erfolgreich zurückgesetzt.
                    p Bitte gehen sie zurück zur App und loggen sich erneut ein.
        
        script(type="module" src="/js/passwordReset.js")